@media (max-width: 640px) {
    .header-wrapper {
      padding: 20px;
      justify-content: center;
    }
  
    main {
      grid-template-columns: 1fr;
      grid-template-areas: "contacts"
                           "summary"
                           "portfolio"
                           "skills"
                           "courses"
                           "education"
                           "work";
  
      max-width: 640px;
    }
  
  }